#cursorText{
    position:absolute;
    background-color: aliceblue;
    width: 90px;
    padding: 1%;
}

#bracketText{
    position:absolute;
    background-color: aliceblue;
    width: 90px;
    padding: 1%;
}

#bracketCloseText{
    position:absolute;
    background-color: aliceblue;
    width: 90px;
    padding: 1%;
}

#circleText{
    position:absolute;
    background-color: aliceblue;
    width: 90px;
    padding: 1%;
}

.route{
    filter: drop-shadow(0px 16px 10px black);
}



/* css to customize Leaflet default styles  */
.popupCustom .leaflet-popup-tip{
    opacity: 0;
}
.popupCustom .leaflet-popup-content-wrapper {
    background: aliceblue;
    /* width: 100px; */
}
