#cursorText{
    position:absolute;
    background-color: aliceblue;
    width: 90px;
    padding: 1%;
}

.pulse {
    display: block;
    border-radius: 50%;
    /* cursor: pointer; */
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 0 0 0;
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
       box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
       box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }